<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.java.board.BoardMapper"> 

	<insert id="saveItem" parameterType="com.kt.java.board.vo.Items">
	 INSERT INTO items(gid,seller,name,price,description,view_count,created_at)
	 VALUES(ITEMS_SEQ.NEXTVAL,#{seller},#{name},#{price},#{description},#{view},#{created_at})
	</insert>
	
	<update id="saveFile" parameterType="list">
	 INSERT INTO files(fnum, gid, fname, fsize)
       SELECT FILES_SEQ.NEXTVAL AS fnum, t1.* FROM
       (
           <foreach collection="list" item="item" index="index" separator="union all">
                SELECT (SELECT MAX(gid) FROM items) AS gid,
                	#{item.fname}, #{item.fsize} FROM DUAL
           </foreach>
       ) t1
	</update>

	<select id="getItem"
            parameterType="integer"
            resultType="map">
         SELECT i.*, f.fnum, f.fname, f.fsize 
         FROM items i LEFT OUTER JOIN files f
         ON i.gid=f.gid WHERE i.gid=#{gid}
  	 </select>
  	 
  	 <select id="chatRoomList" 
  	  resultType="com.kt.java.board.vo.ChatRoom">
  	 	SELECT * FROM chatroom WHERE gid=#{gid}
  	 </select>
</mapper>