<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.java.board.MarketMapper"> 

	<insert id="addsaleform" parameterType="com.kt.java.board.vo.Items">
	 INSERT INTO items(gid,seller_id,name,price,description,view,created_at)
	 VALUES(#{gid},#{seller_id},#{name},#{price},#{description},#{view},#{created_at})
	</insert>
	<update id="addmattach" parameterType="list">
	INSERT INTO mattach (w_number,m_attach)
			SELECT t.* FROM
			(
				<foreach collection="list" item="mattach" separator="union all" >
					 SELECT (SELECT MAX(w_number) FROM market WHERE unum=#{mattach.unum}) AS w_number, #{mattach.m_attach} FROM DUAL
				</foreach>
			) t
	</update>

</mapper>