<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

    <div id="chat-container">
     <h1>[[${name}]]</h1>
        <div id="message-container"></div>
        <div id="yourMsg">
        <input type="text" id="message-input">
        <button id="send-button">Send</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
        	var socketUrl = "http://" + window.location.host + "/ws";
        	var socket = new SockJS(socketUrl);
            var stompClient = Stomp.over(socket);
            var roomId = "[[${roomId}]]"
         	var currentPage = 0;
            var pageSize = 10;

            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);

            stompClient.subscribe('/topic/messages/' + roomId, function(response) {
                var messages = JSON.parse(response.body);
                displayMessage(messages);
              });
            	loadMessages(currentPage);
            });
            
            function loadMessages(page) {
                $.ajax({
                  url: "/chat/messages",
                  data: {roomId: roomId, page: page, size: pageSize},
                  success: function(messages) {
                	  if (messages.length > 0) {
                      currentPage = page;
                      displayMessages(messages);
                    }
                  },error: function(jqXHR, textStatus, errorThrown) {
                	  console.log('loadMessages error:', textStatus, errorThrown);
                  }
                  });
              }
            
           
            function displayMessage(messages) {
                var messageContainer = $('#message-container');
				
                var sender = messages.sender;
                if(sender=="[[${session.username}]]")
               	{
                	var messageDiv = $('<div class="from_me"></div>');
               	}else{var messageDiv = $('<div class="from_others"></div>');}
                  
                  var b = $('<b></b>');
                  b.text(messages.sender + ': ' + messages.content)
                  messageDiv.append(b);
                  messageContainer.append(messageDiv);
                  
                  // Scroll to the bottom of the message container
                  messageContainer.scrollTop(messageContainer[0].scrollHeight);

              }
           
            function displayMessages(messages) {
            	var messageContainer = $('#message-container');
  
	           	  for (var i = messages.length-1; i >=0; i--) {
					var message = messages[i];
	           		var sender = message.sender;
	           		
	                if(sender=="[[${session.username}]]")
	               	{
	                	var messageDiv = $('<div class="from_me"></div>');
	               	}else{var messageDiv = $('<div class="from_others"></div>');}
	                    
	           	    var messageHtml = "<b>";
	           	    messageHtml += message.sender + ' : ' + message.content;
	           	    messageHtml += "</b>";
	           	    messageDiv.append(messageHtml);
	           	    messageContainer.append(messageDiv);
	           	  }
            }
            
            
            

            $('#send-button').click(function() {
                var messageInput = $('#message-input');
                var messageContent = messageInput.val();
                var sender = "[[${session.username}]]";
                var message = {
                    content: messageContent,
                    sender: sender,
                    roomId: roomId
                };

                stompClient.send("/app/chat/"+roomId, {}, JSON.stringify(message));
                messageInput.val("");
            });
            
            $(window).scroll(function() {
                if ($(window).scrollTop() == 0) {
                  loadMessages(currentPage + 1);
                }
            });
        });
    </script>
</body>
</html>
