<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel='stylesheet' href="/css/login.css">
<script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
<script type="text/javascript">
function userlogin()
{
	var Data = $('#userForm').serialize();
	
	$.ajax({
			url : '/doLogin',	//주소확인할것
			method : 'post',	//맵핑확인할것
			data : Data,  											
			cache : false,		
			dataType:'json',                      
			success : function(res)                
			{			
				history.go(-1); 
			},
			error : function(xhr,status,err)
			{
				alert(err);	
			}
			});		
}

</script>
</head>
<body>
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form id="userForm" action="/doLogin" method="post">
      <h1>회원로그인</h1>
      <input type="text" placeholder="아이디" name="username">
      <input type="password" placeholder="비밀번호" name="password">
      <button type="submit">로그인</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>회원이 아니신가요?</h1>
        <p>회원을 등록하시면 더 많은 기능을 이용할 수 있습니다</p>
        <a href="/login/register"><button class="ghost" id="signUp">회원가입하기</button></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>